<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-68129373-6', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul class="feed-list">
      <% items.forEach(function(item){ %>
        <li class="feed-item">
           <div class ="feed">
             <a class="feed-title" href="<%= item.url %>" target="_blank"><%= item.title %></a>
             <p class="feed_date"><%= item.pubdate %></p>
           </div>

        </li>
      <% }); %>
    </ul>
  </body>
</html>
